[Unit]
Description=SATVIEW Bond Stats
After=network.target mediamtx.service

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/bondstat.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
